###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var
/vendor
/database/db
/maksabal.gete
.env
shaiful.pem



###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
#/public/build/
/node_modules/
npm-debug.log

yarn-error.log
###< symfony/webpack-encore-bundle ###

##imageFile
#/public/images/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

responsePaypalOrder.txt
responsePaypalCapture.php
database.db