{% extends 'base.html.twig' %}

{% block title %}About!
{% endblock %}
{% block head %}
    {{ parent() }}


{% endblock %}



{% block body %}
    <div style=" position: relative;
  min-height: 100vh;"class="container">


        
        <div class="mt-3">
<p class="text-justify text h5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I’ve always loved experimenting with lil’ extra bits and pieces of scrap material lying around the house, transforming them into something entirely new. I’m that type of person that simply cannot stand doing nothing, hence why I always have my hands full working on stuff. Most of my nights are spent on long hours of creating and trying out new things and I just can’t get enough of it!<br> <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It's only since the year 2020 that I’ve decided to start my own business of a haphazard assortment of handmade crafts and accessories, shrinkyz! The business started off with a few personalised keychains for some friends and because of your continued support, we have made it this far. We have come to the point where this business now offer a variety of handicraft such as keychains, earrings, pins and many more brand new products to be featured soon!
</p>
        </div>
        



        </div>
    </div>
{% endblock %}
