{% extends 'base.html.twig' %}

{% block title %}
  Contact
{% endblock %}

{% block body %}
  <div style=" 
  position: relative;
  min-height: 100vh;"
  class="container">
    <div class="row justify-content-md-center">
      <div class="col-xl-6 col-sm-6 col-lg-6 mt-5 p-5">
      <div class="d-flex justify-content-center ">
        <h1>Email Us </h1>
      </div>
      <div class="d-flex justify-content-center ">
    <h3 class="text-lowercase" style="font-weight: bold;">shrinkyz@icloud.com
</h3>
</div>

<div class="d-flex justify-content-center ">
        <img src="{{asset('/images/emailus.png')}}"  style="width:30%; height:30%;" alt="">
      </div>
    

      <div class="d-flex justify-content-center mb-1 mt-5">
        <h1>Find Us On</h1>
      </div>
        <a href="https://www.instagram.com/shrinkyz/">
          <img src="{{asset('/images/insta.png')}}" class="img-fluid" alt="">
        </a>
      </div>
    </div>
  </div>
{% endblock %}
