{% extends 'base.html.twig' %}

{% block title %}
  Contact
{% endblock %}

{% block body %}
  <div style=" 
  position: relative;
  min-height: 100vh;"
  class="container">
    <div class="row justify-content-md-center">
      <div class="col-xl-6 col-sm-6 col-lg-6 mt-5 p-5">
        <a href="https://www.instagram.com/shrinkyz/">
          <i class="fab fa-instagram"></i> Intagram : https://www.instagram.com/shrinkyz/
        </a>
      </div>
    </div>
  </div>
{% endblock %}
