{% extends '/index/main.html.twig' %}
{% block title %}Welcome{% endblock %}



{% block head %}
    {{ parent() }}
    

{% endblock %}


{% block main %}

    <div class="mt-3">
    
        <div class="container">

                    <div class="row">
                <div class="ml-3">
                <ul class="nav nav-tabs">
                {% if subcategories  is defined %}
                {% for subcategory in subcategories %}
                     <li class="nav-item">
                    <a href="{{path('subcategories_link', {id : subcategory.id})}}" class="nav-link"> {{ subcategory.subcategoryname }}</a>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
                </div>
                </div>
            {{include('index/product.html.twig')}}
           
        </div>
    
    </div>


     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });


           

    </script>

{% endblock %}
{% block model %}
    {% include ('index/email.html.twig') %}
{% endblock %}