
<style>

 
    </style>

<div onClick="closeiklan()" id="email-model" class="email-model">
    
<div  class="content-model">
<div class="center">
  <div class="top-bar">
<div id="close" class="close-model"></div>
</div>
  <img class="welcome" src="{{asset('/images/welcome.png')}}" alt="">
</div>

   


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</div>





