  <footer class="footer">
   <nav class="navbar navbar-expand-xl navbar-dark bg-primary ">
   
<div class="row ">
  <div class="row justify-content-between">
  <div class="col-6"
    <p>Designed and built with all the love in the world by Shaiful</p>
    </div>
    <div class="col-6">
    <p>V2.0 </p>
    </div>
  </div>
  <p style="font-size:80%;" >©Copyright Shrinkyz.com</p>


   
  </div>
   </nav>

      
    </footer>