<footer class="footer">
 <p class="text-center">
 <small>Designed and built with all the love in the world by Shaiful ©Copyright Shrinkyz.com</small>
 </p> 
<p class="text-center">
<a href="{{path('privacy')}}" class="mr-3"><small style="color:blue;">Privacy</small></a> 
<a href="{{path('terms')}}" class="mr-3"><small style="color:blue;">Terms</small></a>
</p>
   
    </footer>