<h3>Hello {{ user }},</h3>

<p>Your payment for order <br><span style="color:blue">#{{ order }}</span> has 
 been confirmed. Shipping process will <br>
 be start soon. Thank You for Choosing Shrinkyz.
</p>

<table>
    <tr>
        <th>Order Detail</th>
        <th>Order ID</th>
    </tr>
    <tr>
        <td>order</td>
        <td>order</td>
    </tr>


</table>
