<table class="table table-hover">
    <thead>
        <tr>
            <th>Items</th>
            <th>Quantity</th>
            <th>SubTotal</th>
        </tr>
    </thead>

    <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{cart.product.getProductName}}</td>
                <td>{{cart.qty}}</td>
                <td>{{cart.product.getProductPrice * cart.qty}}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
