{% extends '/orders/step.html.twig' %}

{% block title %}Payment Method
{% endblock %}

{% block main %}




{% include "/orders/productorders.html.twig" %}

      
       {# form #}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-8">
                <div class="my-3 border">
                    <div class="p-3">
                        <h5>Payment</h5>
                       
                        
                        <br>
    

        <div class="row">
                    <div class="col">
                    <a href="{{path('chekingout')}}" class="btn btn-primary" ><i class="fas fa-chevron-circle-left"></i> Back to Address</a>
                    </div>
                    <div class="col">
                <div class="d-flex justify-content-end">

                <a href="{{path('confirm_order')}}">
                <img src="https://www.paypalobjects.com/webstatic/en_US/developer/docs/login/connectwithpaypalbutton.png" alt="">
                </a>
                </div>
                    </div>
                    </div>

                        
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4">
                <div class="my-3 border rounded">
                    <div class="p-3">
                    </div>
                </div>
            </div>
        </div>

{% endblock %}