{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}
   {% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('reactApp') }}
{% endblock %}

{% block body %}

<div id="root">
   
</div>
{% block javascript %}

    {{ parent() }}

    {{ encore_entry_script_tags('reactApp') }}

{% endblock %}
{% endblock %}



