{% extends 'base.html.twig' %}

{% block title %}My Profile {% endblock %}

{% block body %}
<div class="container">

<div class="row justify-content-md-center">

<div class="col-xl-6 col-sm-6 col-lg-6  border mt-5 p-5">
<h1>Edit</h1>


    
{{form_start(form)}}
{{form_row(form.firstname, {'attr' : {'class' : 'form-control'}}) }}
{{form_row(form.lastname, {'attr' : {'class' : 'form-control'}}) }}
<br>
     <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit ">
                                    Save</button>
                            </div>
{{form_end(form)}}

</div>
</div>

</div>
{% endblock %}
