{% extends 'base.html.twig' %}

{% block title %}My Profile {% endblock %}

{% block body %}
<div class="container">


<div class="row justify-content-md-center">
<div class="col-xl-6 col-sm-6 col-lg-6  mt-5 p-5">
<h1>Account Info</h1>

<div class="border p-3 my-3">
    
<p style="font-weight:bold">
    Email : {{user.email}} 
</p>
<p style="font-weight:bold">
    First Name : {{user.firstname }} 
    <p style="font-weight:bold" >
    Last Name : {{user.lastname}}
    
    </p>
</p>
</div>

<a href="{{path('edit_profile')}}" class="btn btn-primary">Edit</a>

</div>

</div>

</div>
{% endblock %}
